{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Snapcaster Mage</h1>
    <p>Cuando el Mago lanzachasquidos entre al campo de batalla, la carta de instantáneo o conjuro objetivo en tu cementerio gana retrospectiva hasta el final del turno. Su coste de retrospectiva es igual a su coste de maná. (Puedes lanzar esta carta desde tu cementerio pagando su coste de retrospectiva. Luego exíliala.)</p>
  </div>

  <div class="col-4">
    <img src="/assets/img/snapcaster_mage.jpeg" alt="" class="img-thumbnail">
  </div>
</div>

{{> footer }}